
@{
    Layout = null;
}
@using MVCCoreApp.Models;
@model IndexModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Hello customer</h1>
    <div>ID: @Model.id</div>
    <div>Description: @Model.description</div>
</body>
</html>
