
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <link href="~/Index.css" rel="stylesheet" />
 }

<h1>Hello world!</h1>

@section footer {
    <script src="~/Index.js"></script>
}

